.button {
	width: 130px;
	height: 130px;
}

.button > button {
	width: 100%;
	height: 100%;
	font-family: 'VT323-Regular';
	font-size: 120%;
	color: white;
	background: rgba(0,0,0,.3);
	padding: 10px;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 20px;
}

.button > button:hover {
	cursor: pointer;
	background: rgba(0,0,0,.2);
}

.button > button:active {
	cursor: pointer;
	background: rgba(0,0,0,.1);
}