.game_container {
	display: flex;
	align-items: stretch;
	
	justify-content: center;
	flex-grow: 100;
}

.game {
	/* flex-grow: 100; */
	min-width: 350px;
	width: 60%;
	/* background: rgba(255,255,255,.15); */
	border-radius: 1%;
	margin: 2em 0 2em;
	padding: 1%;
}