.header {
	width: 100%;
	height: 7.5vh;

	background: rgba(0,0,0,.5);
	display: flex;
	justify-content: space-between;
}

.header_logo {
	display: flex;
	align-items: center;
	font-size: 120%;
	padding: 1em;
}

.header_nav {
	display: flex;
}

.header_always,
.header_login,
.header_logged {
	display: flex;
	align-items: center;
	padding: 1em 1em 1em 0em;
}

.header_login > a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid pink;
}

.header_login > a > span {
	color: pink;
}

.header_always > div,
.header_logged > div {
	margin: 2vh 2vh 2vh 0vh;
}

.header_profilepicture > img {
	height: 6vh;
	width: 6vh;
	object-fit: cover;
	object-position: center;
}

.clickable:hover {
	cursor: pointer;
	color: pink;
}