.hint {
	width: 75%;
	min-width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.next_hint {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.hint_map {
	background: rgba(0,0,0,.1);
	border-radius: 20px;

	box-shadow: rgb(0, 0, 0, .4) 0px 0px 20px 4px;
}

.hint_info_container {
	padding: 15px;
	background: rgba(255,255,255,.15);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.hint_div {
	display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
}

.hint_label {
	text-align: start;
}

.hint_info {
	text-align: end;
	flex-grow: 1;
}

.hint_banner_container {
	position: relative;
	width: 100%;
	aspect-ratio: 675/187.5;
	overflow: hidden;
}

.hint_banner_container::after {
	top: 0;
	position: absolute;
	display: block;
	content: ' ';
	width: 100%;
	height: 100%;

	background: linear-gradient(
		0deg,
		rgba(0,0,0,.75),
		transparent
	);
}

.hint_banner > img {
	width: 100%;
	height: 100%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	object-fit: cover;
}

.progress_bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	font-size: 20px;
}

.progress_bar_bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.6);
}

.progress_bar_fill {
	position: absolute;
	height: 100%;
	width: 0%;
	background: rgb(171, 128, 237, .6);
	z-index: 100;
}

.progress_bar_start {
	position: absolute;
	height: 100%;
	color:white;
	z-index: 200;
	left: 3px;
}

.progress_bar_end {
	position: absolute;
	height: 100%;
	color:white;
	z-index: 200;
	right: 3px;
}

.unknown {
	opacity: 0.7;
}