.icon_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--sp-1);
	line-height: 1;
}

.icon {
	font-size: 2em !important;
	width: 1em;
	height: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.text {
	white-space: nowrap;
	font-size: var(--fs-sm);
}
