.main {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.center_big {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 200%;
}