.game_container {
	display: flex;
	align-items: stretch;
	
	justify-content: center;
	flex-grow: 100;
}

.game {
	flex-grow: 100;
	max-width: 900px;
	background: rgba(255,255,255,.15);
	border-radius: 1%;
	margin: 2em;
	padding: 1%;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons > div {
	margin: 5px;
}

.volume_controller {
	position: fixed;
	bottom:0;
	right:0;
	margin: 3%;
	background: rgba(0,0,0,.5);
	padding: 1vh;
	border-radius: 20px;
	border: 1px solid rgba(0,0,0,.75);
}
.volume_controller > input {
	width: 100%;
}
.keybinds {
	font-size: 75%;
	display: flex;
	flex-direction: column;
}

.keybinds > div {
	display: flex;
	justify-content: space-between;
	flex-grow: 100;
	width: 25vh;
}

.keybinds code {
	background: rgba(37, 37, 37, 0.5);
	padding: 5px;
	border-radius: 5px;
	font-size: 75%;
}