.result {
	display: flex;
	align-items: center;
	margin-top: 3vh;
	flex-direction: column;
}

.result > .win {
	color: rgb(0,255,0);
}
.result > .lose {
	color: rgb(225,12,12);
}

.guess_title {
	color: rgb(197, 134, 255);
}